@CHARSET "ISO-8859-1";

body {
	font-family: calibri, helvetica, tahoma, sans-serif;
	background-color: #777777;
	margin: 0px;
}

body a{
	color: black;
}

h1{
	font-family: georgia, cambria, serif;
}

div#logo {
	position: fixed;
	width: 200px;
	left: 740px;
	top: 100px;
	float: right;
}

input#saveAll {
	position: fixed;
	left: 780px;
	top: 260px;
	height: 40px;
}

.menu {
	background-color: #777777;
}

.menu a{
	color: white;
	margin-right: 20px;
	padding: 4px;
}

.menu a:hover{
	color: black;
	background-color: white;
	text-decoration: none;
}

div#page {
	background-color: white;
	width: 920px;
	padding: 20px;
	padding-bottom: 140px;
}

.points {
	background-color: #BBFFA4;
	font-size: 18px;
	padding: 8px;
}

div#worldcupwinner {
	font-size: 18px;
	font-weight: bold;
	margin-top: 30px;
}

div#worldcupwinner select{
	margin-left: 30px;	
}

table.matchbets{
	margin: 20px 20px;
	padding: 6px 10px;
}

table.groupbets{
	display: block;
}

table.matchbets tr {
	background-color: #F6F6F6;
}

.title {
	background-color: white;
	border-bottom: 12px solid #DDDDDD;
}

.team {
	font-family: georgia, cambria, serif;
	padding: 0px 12px;
	background-color: white;
	border: 1px solid #DDDDDD;
}

.time {
	text-align: right;
	font-size: 14px;
	padding: 0px 6px;
}

.bet {
	padding: 0px 6px;
	text-align: center;
	background-color: #E9F8FC;
	border: 1px solid #DDDDDD;
}

.viewbet {
	padding: 0px 6px;
	text-align: center;
	background-color: #FFEA97;
	border: 1px solid #DDDDDD;
}

td.points1{
		background-color: #9999DD;
	}
td.points2{
		background-color: #66DDDD;
	}
td.points3{
		background-color: #99FF44;
	}
	
span.smallpoints{
	font-size: 10px;
	color:white;
	font-weight: bold;
	font-style: italic;	
	background-color: #444444;
	padding-left:3px;
	padding-right:3px;
	margin-left:3px;
}

.savebtn {
	margin: 0px;
	padding: 4px 6px;
	background-color: white;
	text-align: right;
}

.rank {
	font-family: calibri, helvetica, tahoma, sans-serif;
	font-size: 22px;
	padding-left: 30px;
	padding-right: 10px;
}

.rankDown {
	background-image: url("down.png");
	background-repeat: no-repeat;
	width: 22px;
	height: 22px;
}

.rankEqual {
	background-image: url("equal.png");
	background-repeat: no-repeat;
	width: 22px;
	height: 22px;
}

.rankUp {
	background-image: url("up.png");
	background-repeat: no-repeat;
	width: 22px;
	height: 22px;
}
	
.name {
	border: 1px solid #DDDDDD;
	padding: 2px 4px;
}

.name a{
	text-decoration:none;
}

td.name:hover{
	background-color: #DDDDDD;
}

.myname {
	background-color: #BBFFA4;
	padding: 2px 4px;
}

.myname a{
	text-decoration:none;
}

.myname:hover{
	background-color: #DDDDDD;
}

div.text{
	float: left;
	width: 680px;
}

div.message{
	width:400px;
	background-color:#E9F8FC;
	border:2px solid black;
	padding:6px;
	margin-top: 20px;
	min-height: 100px; 
}

a.button{
	margin:5px;
	padding:5px;
	background-color: #DDDDDD;
	font-weight: bold;
	text-decoration: none;
	border:2px solid #999999;
	display:block;
	float: right;
}